body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

header {
  background: #4f46e5;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}